[submodule "libs/ChordView"]
	path = libs/ChordView
	url = https://github.com/Shushik/ChordView
[submodule "libs/SongChordsParser"]
	path = libs/SongChordsParser
	url = https://github.com/Shushik/SongChordsParser
