@SONG_CHORDS_VIEWER: song;

.@{SONG_CHORDS_VIEWER}
{
    display: flex;

    &__chord
    {
        color: gray;

        &_is
        {
            &_alone
            {
                
            }
        }
    }

    &__label
    {
        
    }

    &__space
    {
        display: inline-block;

        height: 0.2em;

        color: gray;
        border: solid 1px;
        border-top-width: 0;
        border-bottom-width: 2px;
    }

    &__title
    {
        
    }

    &__verse
    {
        margin-top: 1em;

        &_type
        {
            &_coda
            {
                
            }

            &_note
            {
                
            }

            &_chorus
            {
                margin-left: 1em;
            }

            &_intro
            {
                
            }

            &_bridge
            {
                
            }

            &_verse
            {
                
            }

            &_asterism
            {
                
            }

            &_epigraph
            {
                
            }
        }
    }

    &__author
    {
        
    }

    &__chords
    {
        width: 400px;
        min-height:200px;
        max-height: 400px;
        margin-left: 2em;
        overflow: auto;
    }

    &__lyrics
    {
        width: 400px;
        min-height:200px;
        max-height: 400px;
        margin-left: 2em;
        overflow: auto;
    }

    &__repeat
    {
        
    }

    &__authors
    {
        &_of
        {
            &_written
            {
                
            }

            &_composed
            {
                
            }
            
            &_performed
            {
                
            }

            &_translated
            {
                
            }
        }
    }

    &__copyright
    {
        margin-top: 1em;
    }
}
